{deps, [{dnssd, "0.*",
         {git, "https://github.com/andrewtj/dnssd_erlang.git", {branch, "master"}}},
        {elixir, "0.*",
         {git, "https://github.com/elixir-lang/elixir.git", {branch, "master"}}},
        {cowboy, "0.*",
         {git, "https://github.com/extend/cowboy.git", {branch, "master"}}},
        {erlydtl, "0.*",
         {git, "https://github.com/evanmiller/erlydtl.git", {branch, "master"}}}
       ]}.
